POSTIZ_IMAGE=ghcr.io/gitroomhq/postiz-app:latest
POSTIZ_MAIN_URL=https://postiz.example.com
POSTIZ_PORT=4007
POSTIZ_DISABLE_REGISTRATION=false
POSTIZ_API_LIMIT=30

POSTIZ_DB_NAME=postiz
POSTIZ_DB_USER=postiz
POSTIZ_DB_PASSWORD=***
POSTIZ_REDIS_DB=1

POSTIZ_JWT_SECRET=***
TEMPORAL_DB_PASSWORD=***
REDIS_PASSWORD=***

TEMPORAL_UI_PORT=8088
